<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.tintegro.sigs.mapper.ActoMedicoMapper">
	<resultMap type="pe.com.tintegro.sigs.entidad.ActoMedico" id="actoMedicoResultMap">
		<result property="idActoMedico" column="id_acto_medico" />
		<result property="feAtencion" column="fe_atencion" />
		<result property="edadAtencion" column="edad_atencion" />
		<result property="hoAtencion" column="ho_atencion" />
		<association property="area" javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_area" />
			<result property="valor" column="descripcion_area" />
		</association>
		<association property="personal" javaType="pe.com.tintegro.sigs.entidad.Personal">
			<result property="idPersonal" column="id_personal" />
			<result property="apePaterno" column="apellido_paterno_personal" />
			<result property="apeMaterno" column="apellido_materno_personal" />
			<result property="nombre" column="nombre_personal" />
		</association>
		<association property="programacion" javaType="pe.com.tintegro.sigs.entidad.Programacion">
			<result property="idProgramacion" column="id_programacion" />
			<association property="especialidad" javaType="pe.com.tintegro.sigs.entidad.Especialidad">
				<result property="idEspecialidad" column="id_especialidad" />
				<result property="descripcionEspecialidad" column="descripcion_especialidad" />
			</association>
			<association property="subActividad" javaType="pe.com.tintegro.sigs.entidad.SubActividad">
				<result property="idSubActividad" column="id_sub_actividad" />
				<result property="descripcionSubActividad" column="descripcion_sub_actividad" />
				<association property="actividad" javaType="pe.com.tintegro.sigs.entidad.Actividad">
					<result property="idActividad" column="id_actividad" />
					<result property="descripcionActividad" column="descripcion_actividad" />
				</association>
			</association>
		</association>	
	</resultMap>
	
	<!-- MAPEADO EXCEL ELIMINAR -->
	<select id="obtenerActoMedicoPorCita" resultMap="actoMedicoResultMap">
		SELECT * FROM "Admision".fn_ad_select_acto_medico_por_cita( #{ idCita } )
	</select>
</mapper>