<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.tintegro.sigs.mapper.AlmacenOrdenCompraMapper">

	<resultMap id="listarAlmacenOrdenCompraResultMap"
		type="pe.com.tintegro.sigs.entidad.AlmacenOrdenCompra">
		<result property="idAlmacenOrdenCompra" column="cod_movimiento" />
		<result property="descripcionAlmacen" column="descripcion_almacen" />
		<result property="idOrdenCompra" column="id_orden_compra" />
		<result property="fecha" column="fecha" />
		<result property="estado" column="estado" />
		<result property="nombreProveedor" column="nombre_proveedor" />
		<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap>

	<resultMap id="listarAlmacenOrdenCompraMaterialResultMap"
		type="pe.com.tintegro.sigs.entidad.AlmacenOrdenCompraMaterial">
		<result property="idAlmacenOrdenCompraMaterial" column="id_almacen_orden_compra_material" />
		<result property="idMaterial" column="id_material" />
		<result property="nombreMaterial" column="nombre_material" />
		<result property="marca" column="marca" />
		<result property="idAlmacenOrdenCompra" column="id_almacen_orden_compra" />
		<result property="cantidad" column="cantidad" />
		<result property="cantidadFisica" column="cantidad_fisica" />
	</resultMap>

	<resultMap id="confirmacionResultMap"
		type="pe.com.tintegro.sigs.entidad.general.Confirmacion">
		<result property="id" column="id" />
		<result property="mensaje" column="no_respuesta" />
	</resultMap>

	<select id="listarAlmacenOrdenCompra" resultMap="listarAlmacenOrdenCompraResultMap">
		select * from
		logistica.fn_lo_select_almacen_orden_compra(#{idAlmacenOrdenCompra},#{estado},#{nuPagina},#{nuRegisMostrar});
	</select>

	<select id="listarAlmacenOrdenCompraMaterial" resultMap="listarAlmacenOrdenCompraMaterialResultMap">
		select *
		from
		logistica.fn_lo_select_almacen_orden_compra_material(#{idAlmacenOrdenCompra});
	</select>

	<select id="actualizarCantidadFisica" resultMap="confirmacionResultMap">
		select * from
		logistica.fn_lo_update_cantidad_fisica(#{idAlmacenOrdenCompraMaterial},#{idAlmacenOrdenCompra},#{idMaterial},#{cantidadFisica});
	</select>

	<select id="actualizarEstado" resultMap="confirmacionResultMap">
		select * from
		logistica.fn_lo_update_almacen_orden_compra(#{idAlmacenOrdenCompra});
	</select>
</mapper>
