<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="pe.com.tintegro.sigs.mapper.AmbienteMapper">
	<resultMap id = "ambienteResultMap" type = "pe.com.tintegro.sigs.entidad.general.Item">
		<result property = "ID" column = "id"/>
		<result property = "valor" column = "descripcion"/>
	</resultMap>
	
	<resultMap id="ambienteEspecialidadResultMap" type="pe.com.tintegro.sigs.entidad.Ambiente">
		<result property="idAmbiente" column="id_ambiente"/>
		<result property="descripcionAmbiente" column="descripcion_ambiente"/>
		<result property="idArea" column="id_area"/>
		<result property="descripcionArea" column="descripcion_area"/>
		<result property="abreviaturaAmbiente" column="abreviatura_ambiente" />
		<result property="descripcionEspecialidadActividad" column="descripcion_especialidad_actividad"/>
		<result property="jsonDetalleEspecialidadActividad" column="json_detalle_especialidad_actividad" />
		<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap>
	
	<resultMap id="actividadAmbienteResultMap" type="pe.com.tintegro.sigs.entidad.Ambiente">
		<result property="idActividad" column="id_actividad"/>
		<result property="descripcionActividad" column="descripcion_actividad"/>
	</resultMap>
	
	<resultMap id = "confirmacionResultMap" type = "pe.com.tintegro.sigs.entidad.general.Confirmacion">
		<result property = "id" column = "id_result"/>
		<result property = "mensaje" column = "mensaje"/>
    </resultMap>
	
	<select id = "obtenerAmbientes" resultMap = "ambienteResultMap">
		<!-- Falta implementar -->
		SELECT * FROM "Admision".fn_ad_select_ambiente(#{idIPRESS}, 
													   #{idArea},
													   #{idEspecialidad},
													   #{idActividad},
													   #{codUsuario});
	</select>
	
	<select id = "obtenerAmbienteEspecialidad" resultMap = "ambienteEspecialidadResultMap">
		select * from "Admision".fn_ad_select_ambiente_especialidad(#{idArea}, #{descripcionAmbiente}, #{idEspecialidad}, #{idActividad}, #{nuPagina}, #{nuRegisMostrar});
	</select>
	
	<select id = "insertaAmbiente" resultMap = "confirmacionResultMap">
		select * from "Admision".fn_ad_insert_ambiente(#{descripcionAmbiente},#{abreviaturaAmbiente},#{idArea},#{jsonAmbiente},#{idIPRESS});     
	</select>
	
	<select id = "obtenerActividadAmbiente" resultMap = "actividadAmbienteResultMap">
		select * from "Admision".fn_ad_select_actividad_ambiente(#{idArea},#{idEspecialidad},#{idIPRESS});     
	</select>
	
	<select id = "eliminaAmbiente" resultMap = "confirmacionResultMap">
		select * from "Admision".fn_ad_delete_ambiente(#{idAmbiente})    
	</select>
	
	<select id="actualizarAmbiente" resultMap="confirmacionResultMap">
		select * from "Admision".fn_ad_update_ambiente(#{idAmbiente	},#{descripcionAmbiente},#{abreviaturaAmbiente},#{idArea},#{jsonAmbiente},#{idIPRESS})
	</select>
	
</mapper>	
	