<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="pe.com.tintegro.sigs.mapper.ConfiguracionMapper">
	<resultMap id = "configuracionResultMap" type = "pe.com.tintegro.sigs.entidad.Configuracion">
		<result property = "idConfiguracion" column = "id_configuracion"/>
		<result property = "itemConfiguracion" column = "id_item_configuracion"/>
		<result property = "valor" column = "valor"/>
	</resultMap>
	
	<select id = "obtenerAreas" resultMap = "configuracionResultMap">
		SELECT * FROM "Admision".fn_ad_select_configuracion( #{ idConfiguracion } );
	</select>
</mapper>	
	