<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.tintegro.sigs.mapper.CptEspecialidadMapper">
	<resultMap type="pe.com.tintegro.sigs.entidad.CptEspecialidad" id="CptEspecialidadResultMap">
		<result property="idCpt" column="id_cpt" />
		<result property="idEspecialidad" column="id_especialidad" />
		<result property="codigoCpt" column="codigo_cpt" />
		<result property="descripcionEspecialidad" column="descripcion_especialidad" />
		<result property="descripcionCpt" column="descripcion_cpt" />
		<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap>
	
	<select id="ListarCptEspecialidad" resultMap="CptEspecialidadResultMap">
		select * from "Admision".fn_ad_select_cpt_especialidad(#{idEspecialidad}, #{idCpt}, #{idIPRESS}, #{nuPagina}, #{nuRegisMostrar})
	</select>
</mapper>