<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="pe.com.tintegro.sigs.mapper.EspecialidadMapper">
	<resultMap id = "especialidadResultMap2" type = "pe.com.tintegro.sigs.entidad.Especialidad">
		<result property="idEspecialidad" column="id_especialidad" />
		<result property="descripcionEspecialidad" column="descripcion_especialidad" />
		<result property="abreviatura_espec" column="abreviatura_espec" />
		<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap>
	
	<resultMap id = "especialidadResultMap1" type = "pe.com.tintegro.sigs.entidad.general.Item">
		<result property = "ID" column = "id"/>
		<result property = "valor" column = "descripcion"/>
	</resultMap>
	
	
	<resultMap id = "confirmacionResultMap" type = "pe.com.tintegro.sigs.entidad.general.Confirmacion">
		<result property = "id" column = "id_result"/>
		<result property = "mensaje" column = "mensaje"/>
	</resultMap>
	
	<select id = "insertarEspecialidadJ" resultMap = "confirmacionResultMap">
		<!-- 1 -->
		select * from "Admision".fn_ad_insert_descripcion_abreviatura_especialidad(#{descripcion_especialidad}, #{abreviatura_espec});
	</select>
	
	<select id = "obtenerEspecialidadJ" resultMap = "especialidadResultMap2">
		<!-- 1 -->
		select * from "Admision".fn_ad_select_descripcion_especialidad(
		#{descripcion_especialidad},
		#{numPagina}, 
		#{numMostrarPagina});
	</select>
	
	<select id = "eliminarEspecialidadJ" resultMap = "confirmacionResultMap">
		<!-- 1 -->
		Select * from "Admision".fn_ad_delete_tb_especialidad(#{idEspecialidad});
	
	</select>
	
	<select id = "obtenerEspecialidades" resultMap = "especialidadResultMap1">
		<!-- Falta implementar -->
		SELECT * FROM "Admision".fn_ad_select_especialidades(#{idIPRESS}, 
															 #{idArea}, 
															 #{idEspecialidad}, 
															 #{codUsuario});
	</select>
	
	<select id = "obtenerEspecialidadesConsultaAmbulatoria" resultMap = "especialidadResultMap1">
		SELECT * FROM "Admision".fn_ad_select_especialidades_cita(#{idIPRESS}, 
															 	  #{idArea}, 
															      #{idEspecialidad}, 
															      #{codUsuario});
	</select>
</mapper>	
	