<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.com.tintegro.sigs.mapper.GrupoOcupacionalMapper">
	<resultMap id="grupoOcupacionalMap" type="pe.com.tintegro.sigs.entidad.general.Item">
		<result property="ID" column="id" />
		<result property="valor" column="descripcion" />
	</resultMap>
	
	<resultMap type="pe.com.tintegro.sigs.entidad.general.Confirmacion" id="confirmacionResultMap">
		<result property="id" column="id_result" />
		<result property="mensaje" column="mensaje" />
	</resultMap>
	
	<select id="obtenerGrupoOcupacional" resultMap="grupoOcupacionalMap">
		SELECT * FROM "Admision".fn_ad_select_tb_grupo_ocupacional(#{codigoIeds});
	</select>
	
<!-- 	OBTENER TIPO PROFESIONAL -->
	<resultMap id="tipoProfesionalResultMap" type="pe.com.tintegro.sigs.entidad.TipoProfesional">
		<result property="id_tipo_profesional" column="id_tipo_profesional" />
		<result property="descripcionTipoProfesional" column="descripcion" />
	</resultMap>
	<select id="obtenerTipoProfesionalJ" resultMap="tipoProfesionalResultMap">
	SELECT * FROM "Admision".fn_ad_select_tb_tipo_profesional();
	</select>
	
		<resultMap id="resultMapGrupoOcupacional" type = "pe.com.tintegro.sigs.entidad.GrupoOcupacional">
		<result property="idGrupoOcupacional" column="id_grupo_ocupacional" />
		<result property="descripcionGrupoOcupacional" column="descripcion_grupo_ocupacional"/>
		<result property="idTipoProfesional" column="id_tipo_profesional"/>
			<result property="descripcionTipoProfesional" column="descripcion_tipo_profesional" />
			<result property="abreviatura" column="abreviatura" />
			<result property="emitirReceta" column="emitir_receta" />
			<result property="otorgarSolicitarExamen" column="otorgar_solicitar_examen" />
			<result property="emitirCitt" column="emitir_citt" />
			<result property="otorgarMateriales" column="otorgar_materiales" />
			<result property="emitirReferencia" column="emitir_referencia" />
			<result property="regularAntecedente" column="regular_antecedente" />
			<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap> 
	
	<select id = "insertarGrupoOcupacionalJ" resultMap = "confirmacionResultMap">
		select * from "Admision".fn_ad_insert_grupo_ocupacional(#{descripcionGrupoOcupacional}, #{idTipoProfesional}, #{abreviatura}, #{emitirReceta}, #{otorgarSolicitarExamen},#{emitirCitt}, #{otorgarMateriales},#{emitirReferencia}, #{regularAntecedente})
	</select>
	
	 <select id = "obtenerGrupoOcupacionalJ" resultMap = "resultMapGrupoOcupacional">
		select * from "Admision".fn_ad_select_grupo_ocupacional(#{descripcionGrupoOcupacional}, #{idTipoProfesional},#{nuPagina}, #{nuRegisMostrar})
	</select>
	
	<select id = "eliminarGrupoOcupacionalJ" resultMap = "confirmacionResultMap">
	
		select * from "Admision".fn_ad_delete_grupo_ocupacional(#{idGrupoOcupacional})
	</select>
	
	<select id = "actualizarGrupoOcupacionalJ" resultMap = "confirmacionResultMap">
		select * from "Admision".fn_ad_update_grupo_ocupacional(#{idGrupoOcupacional}, #{descripcionGrupoOcupacional}, #{idTipoProfesional}, #{abreviatura}, #{emitirReceta}, #{otorgarSolicitarExamen}, #{emitirCitt}, #{otorgarMateriales}, #{emitirReferencia}, #{regularAntecedente})
	</select> 
	
	
	<resultMap type="pe.com.tintegro.sigs.entidad.AreaEspecialidadActividadGrupoOcupacional" id="resultMapAreaEspecialidadActividadGrupoOcupacional">
		<result property="idArea" column="id_area"/>
		<result property="descripcionArea" column="descripcion_area"/>
		<result property="idEspecialidad" column="id_especialidad"/>
		<result property="descripcionEspecialidad" column="descripcion_especialidad"/>
		<result property="idActividad" column="id_actividad"/>
		<result property="descripcionActividad" column="descripcion_actividad"/>
		<result property="idGrupoOcupacional" column="id_grupo_ocupacional"/>
		<result property="descripcionGrupoOcupacional" column="descripcion_form_impre"/>
		<result property="nuTotalReg" column="nu_total_reg" />
	</resultMap>

	
	<select id="insertarAreaEspecialidadActividadGrupoOcupacionalJ" resultMap="confirmacionResultMap">
		select * from "Admision".fn_ad_insert_restriccion_act_grupo_ocupacional(#{idIPRESS},#{idArea},#{idEspecialidad},#{idActividad},#{idGrupoOcupacional});
	</select>
	
	<select id="obtenerAreaEspecialidadActividadGrupoOcupacionalJ" resultMap="resultMapAreaEspecialidadActividadGrupoOcupacional">
		select * from "Admision".fn_ad_select_area_especialidad_actividad_grupo_ocupacional(#{idArea},#{idEspecialidad},#{idActividad},#{idGrupoOcupacional},#{nuPagina},#{nuRegisMostrar}); 
	</select>
	
	<select id="eliminarAreaEspecialidadActividadGrupoOcupacionalJ" resultMap="confirmacionResultMap">
		select * from "Admision".fn_ad_delete_tb_especialidad(#{idActividad},#{idArea},#{idEspecialidad},#{idIPRESS},#{idGrupoOcupacional});
	</select>
</mapper>
