<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="pe.com.tintegro.sigs.mapper.IpressMapper">
	<resultMap id = "ipressResultMap" type = "pe.com.tintegro.sigs.entidad.Ipress">
		<result property = "idIPRESS" column = "id"/>
		<result property = "razonSocial" column = "descripcion"/>
		<result property = "idPersonal" column = "idPersonal"/>
		<result property = "subAc" column = "fl_sub_actividad"/>
		<result property = "idNivel" column = "id_nivel"/>
		<result property = "descripcionNivel" column = "descripcion_nivel"/>
	</resultMap>
	
	<select id = "obtenerIpress" resultMap = "ipressResultMap">
		SELECT * FROM "Seguridad".fn_sg_select_ipress(#{codUsuario});
	</select>
</mapper>