<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="pe.com.tintegro.sigs.mapper.PersonaMapper">

	<resultMap type="pe.com.tintegro.sigs.entidad.Persona" id="personaResultMap">
		<result property="idPersona" column="id_persona" />
		<result property="nombres" column="nombres" />
		<result property="apellidoPaterno" column="apellido_paterno" />
		<result property="apellidoMaterno" column="apellido_materno" />
		<result property="edad" column="edad" />
		<result property="edadLetra" column="edad_letra" />
		<result property="numeroDocumentoIdentidad" column="nu_documento" />
		<result property="feNacimiento" column="fe_nacimiento" />
		<result property="distritoNacimiento" column="descripcion_distrito_nacimiento" />
		<result property="idGrupoEtareo" column="id_grupo_etareo" />
		<result property="descripcionGrupoEtareo" column="descripcion_grupo_etareo" />
		<result property="nombreAcompanante" column="nombre_acompanante" />
		<result property="diAcompanante" column="di_acompanante" />
		<result property="edadAcompanante" column="edad_acompanante" />
		<result property="idTipoDocumentoAcompanante" column="id_tipo_documento" />
		<association property="cobertura"
				javaType="pe.com.tintegro.sigs.entidad.Cobertura">
				<result property="idCobertura" column="id_cobertura" />
				<result property="descripcionCobertura" column="descripcion_cobertura" />
		</association>
		
		<association property="sexo"
			javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_sexo" />
			<result property="valor" column="descripcion_sexo" />
		</association>
		<association property="tipoSangre"
			javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_tipo_sangre" />
			<result property="valor" column="descripcion_tipo_sangre" />
		</association>
		<association property="gradoInstruccion"
			javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_grado_instruccion" />
			<result property="valor" column="descripcion_grado_instruccion" />
		</association>
		<association property="estadoCivil"
			javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_estado_civil" />
			<result property="valor" column="descripcion_estado_civil" />
		</association>
		<association property="ocupacion"
			javaType="pe.com.tintegro.sigs.entidad.general.Item">
			<result property="ID" column="id_ocupacion" />
			<result property="valor" column="descripcion_ocupacion" />
		</association>
		<association property="tipoDocumentoIdentidad"
			javaType="pe.com.tintegro.sigs.entidad.TipoDocumento">
			<result property="id" column="id_tipo_documento_identidad" />
			<result property="descripcion" column="descripcion_tipo_documento_identidad" />
		</association>

		<collection property="historiaList"
			ofType="pe.com.tintegro.sigs.entidad.Historia">
			<result property="idHistoria" column="id_historia" />
		</collection>
		<collection property="filiadoList" ofType="pe.com.tintegro.sigs.entidad.Filiado">
			<result property="domicilioActual" column="domicilio_actual" />
			<result property="tipoPaciente" column="tipo_paciente" />
			<result property="telefonoFijo" column="telefono_fijo" />
			<result property="telefonoMovil" column="telefono_movil" />
			<association property="parentescoAcompanante"
				javaType="pe.com.tintegro.sigs.entidad.general.Item">
				<result property="ID" column="id_parentesco_acompanante" />
				<result property="valor" column="descripcion_parentesco_acompanante" />
			</association>
			<association property="ubigeo"
				javaType="pe.com.tintegro.sigs.entidad.Ubigeo">
				<result property="id" column="id_ubigeo" />
				<result property="nombre" column="descripcion_distrito" />
			</association>
			<association property="ipress"
				javaType="pe.com.tintegro.sigs.entidad.Ipress">
				<result property="idIPRESS" column="id_ipress" />
				<result property="razonSocial" column="razon_social" />
			</association>
		</collection>

		<collection property="planList" ofType="pe.com.tintegro.sigs.entidad.Plan">
			<result property="feVigencia" column="fe_vigencia"/>
			<association property="iafas"
				javaType="pe.com.tintegro.sigs.entidad.Iafas">
				<result property="idIafas" column="id_iafas" />
				<result property="descripcionIafas" column="descripcion_iafas" />
			</association>
			<association property="cobertura"
				javaType="pe.com.tintegro.sigs.entidad.Cobertura">
				<result property="idCobertura" column="id_cobertura" />
				<result property="descripcionCobertura" column="descripcion_cobertura" />
			</association>
		</collection>
	</resultMap>
	

	<select id="obtenerPersonaDatosPorActoMedico" resultMap="personaResultMap">
		SELECT * FROM
		"Admision".fn_ad_select_persona_dato_acto_medico(#{ idActoMedico });
	</select>
	
	<select id="obtenerPersonaDatosPorCita" resultMap="personaResultMap">
		SELECT * FROM
		"Admision".fn_ad_select_persona_dato_cita(#{ idCita });
	</select>
	
	<select id="obtenerDatosPersonaPorDocumento" resultMap="personaResultMap">
		SELECT * FROM "Admision".fn_ad_select_persona_numero_documento_identidad(#{ nuDocumento }, #{idIPRESS});
	</select>
	
	<!-- MAPEADO EXCEL -->
	<select id="obtenerIdPersona" resultMap="personaResultMap">
		select * from "Admision".fn_ad_select_id_persona( #{ idTipoDocumentoIdentidad }, #{ numeroDocumento } )
	</select>
	
	<!-- MAPEADO EXCEL -->
	<select id="obtenerPersonaPorIdPersona" resultMap="personaResultMap">
		select * from "Admision".fn_ad_select_persona_dato_id_persona( #{ idPersona }, #{ idIPRESS } )
	</select>
	

</mapper>