<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="pe.com.tintegro.sigs.mapper.PersonalMapper">
	<resultMap id = "personalResultMap" type = "pe.com.tintegro.sigs.entidad.Personal">
		<result property="idPersonal" column="id_personal"/>
		<result property="codigoPersonal" column="codigo_personal"/>
		<result property="apePaterno" column="apellido_paterno_personal"/>
		<result property="apeMaterno" column="apellido_materno_personal"/>
		<result property="nombre" column="nombre_personal"/>
		<result property="feNacimiento" column="fe_nacimiento"/>
		<result property="maxHorasNormales" column="max_horas_normales"/>
		<result property="maxHorasExtras" column="max_horas_extras"/>
		<result property="maxHorasExtrasDia" column="max_horas_extras_dia"/>
		<result property="tipoStaff" column="tipo_staff"/>
		<result property="email" column="email"/>
		<result property="ruc" column="ruc"/>
		<result property="cuposAdicionales" column="cupos_adicionales"/>
		<result property="codigoUbigeo" column="codigo_ubigeo"/>
		<association property="sexo" javaType="pe.com.tintegro.sigs.entidad.general.Item">
     		<result property="ID"  column="id_sexo"/>
     		<result property="valor"  column="no_sexo"/>
      	</association>
      	<association property="estadoCivil" javaType="pe.com.tintegro.sigs.entidad.general.Item">
     		<result property="ID"  column="id_estado_civil"/>
     		<result property="valor"  column="no_estado_civil"/>
      	</association>
      	<association property="tipoDocumentoIdentidad" javaType="pe.com.tintegro.sigs.entidad.general.Item">
     		<result property="ID"  column="id_tipo_documento_identidad"/>
     		<result property="valor"  column="no_tipo_documento_identidad"/>
      	</association>
      	<association property="grupoOcupacional" javaType="pe.com.tintegro.sigs.entidad.general.Item">
     		<result property="ID"  column="id_grupo_ocupacional"/>
     		<result property="valor"  column="no_grupo_ocupacional"/>
      	</association>
	</resultMap>
	
	<select id = "obtenerPersonales" resultMap = "personalResultMap">
		SELECT * FROM "Admision".fn_ad_select_personal(#{idIPRESS}, 
													   #{idArea}, 
													   #{idEspecialidad}, 
													   #{idActividad}, 
													   #{idSubActividad}, 
													   #{idPersonal});
	</select>
</mapper>
	