<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.com.tintegro.sigs.mapper.UbigeoMapper">
	<resultMap id="ubigeoResultMap" type="pe.com.tintegro.sigs.entidad.Ubigeo">
		<result property="id" column="id" />
		<result property="nombre" column="descripcion" />
	</resultMap>
	<select id="obtenerUbigeo" resultMap="ubigeoResultMap">
		SELECT * from "Admision".fn_ad_select_ubigeo( #{codDepartamento}, #{codProvincia});
	</select>
</mapper>